body {
  background-color: #000;
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
.App {
  font-family: sans-serif;
  text-align: center;
}

h1 {
  color: white;
  background-color: #000;
  font-size: 3.5em;
  font-weight: 900;
  margin: 0 0 2em;
  position: fixed;
  top: 0px;
  left: 0px;

  width: 100%;
  @media only screen and (min-width: 600px) {
    font-size: 4em;
  }
}
.btcname{
  color: #fff;
  background-color: #000;
  font-size: 2.8em;
  font-weight: 900;
  margin: 0 0 2em;
  position: fixed;
  top: 0px;
  left: 0px;

  width: 100%;
  @media only screen and (min-width: 600px) {
    font-size: 4em;
  }
}
.textblock{
  display: inline-block;
  width: 100%;
  font-size: 1.5em;

}
.textblock p .link{
  color:#f07c00;
  text-decoration: none;
}
/* Start Nav buttons*/
.Nav {
  margin: 100px 75px 25px 75px;
}
.btn {
  color: #fff;
  cursor: pointer;
  display: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
.btn:hover {
  text-decoration: none;
}

@media (min-width: 400px) {
  .btn {
    display: center;
    margin-right: 2.5em;
  }
}

.btn-1 {
  font-weight: 100;
  display: inline-block;
}
.btn-1 svg {
  height: 45px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.btn-1 svg rect {
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 422, 0;
  transition: all 0.35s linear;
}

.btn-1:hover {
  font-weight: 900;
  letter-spacing: 1px;
}

.btn-1:hover rect {
  stroke-width: 5;
  stroke-dasharray: 15, 310;
  stroke-dashoffset: 48;
  transition: all 1.35s cubic-bezier(0.19, 1, 0.22, 1);
}
.current{
  color:#fff;


}
.current svg rect {
  fill: none;
  stroke: #f07c00;
}
/* Stop Nav buttons*/
//------------------------------------------------------------
/* Start glitch effect */
.glitch {
  margin: 0;
  text-decoration: none;
  color: #fff;
  background-color: #000;
  &:before,
  &:after {
    display: block;
    content: "WELCOME!";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.8;
  }
  &:after {
    color: #f0f;
    z-index: -2;
  }
  &:before {
    color: #0ff;
    z-index: -1;
  }
  &:hover {
    &:before {
      animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) both infinite;
    }
    &:after {
      animation: glitch 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) reverse both
        infinite;
    }
  }
}
@keyframes glitch {
  0% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-5px, 5px);
    transform: translate(-5px, 5px);
  }
  40% {
    -webkit-transform: translate(-5px, -5px);
    transform: translate(-5px, -5px);
  }
  60% {
    -webkit-transform: translate(5px, 5px);
    transform: translate(5px, 5px);
  }
  80% {
    -webkit-transform: translate(5px, -5px);
    transform: translate(5px, -5px);
  }
  to {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
/* Stop glitch effect */
//-------------------------------------------------------------
/* Start Calculator KeyPad*/
.key {
  background-color: #f07c00;
  padding: 20px;
  border-color: transparent;
  font-size: 15px;
  margin: 1px;
  width: 20%;
  color: #fff;
  cursor: pointer;
  @media (min-width: 600px) {
    width: 5%;
  }
}
.key:hover {
  background-color: #003399;
  border: 2px solid #003399;
}
/* Stop Calculator KeyPad*/
//-------------------------------------------------
/* Start on ToDoList*/
.todoListMain .header input {
  padding: 10px;
  font-size: 16px;
  border: 2px solid #fff;
  width: 165px;
}
.todoListMain .header button {
  padding: 10px;
  font-size: 16px;
  margin: 10px;
  margin-right: 0px;
  background-color: #f07c00;
  color: #fff;
  border: 2px solid #f07c00;
}
.todoListMain .header button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}
.todoListMain .theList {
  list-style: none;
  padding-left: 550px;
  width: 250px;
  @media only screen and (max-width: 1000px) {
    padding-left: 295px;
  }
  @media only screen and (max-width: 600px) {
      padding-left: 115px;
  }
  @media only screen and (max-width: 600px) {
    padding-left: 55px;
}
}
.todoListMain .theList li {
  color: rgb(0, 0, 0);
  background-color: white;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 5px;
  transition: background-color 0.2s ease-out;
}

.todoListMain .theList li:hover {
  background-color: pink;
  cursor: pointer;
}
ul .theList {
  padding: 0px;
}
/*Stop ToDoList*/
//---------------------------------
.Footer {
  position: absolute;
  left: 0;
  //bottom: 4em;
  right: 0;
  width: 100%;
}
/*Start of Footer Icons*/
.Table {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 50px;
}

.Table li {
  list-style: none;
}

.Table li a {
  width: 80px;
  height: 80px;
  background-color: #fff;
  text-align: center;
  line-height: 80px;
  font-size: 35px;
  margin: 0 10px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}
@media only screen and (max-width: 600px) {
  .Table li a {
    width: 60px;
    height: 60px;
    background-color: #fff;
    text-align: center;
    line-height: 60px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid #fff;
    z-index: 1;
  }
  .Table{
    left: 45%;
  }
}
.Table li a .icon {
  position: relative;
  color: #262626;
  transition: 0.5s;
  z-index: 3;
}

.Table li a:hover i {
  color: #fff;
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -ms-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
  transform: rotateY(360deg);
}

.Table li a:before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  background: #f00;
  transition: 0.5s;
  z-index: 2;
}

.Table li a:hover:before {
  top: 0;
}

.Table li:nth-child(1) a:before {
  background: #6f42c1;
}

.Table li:nth-child(2) a:before {
  background: #55acee;
}

.Table li:nth-child(3) a:before {
  background: #0077b5;
}

.Table li:nth-child(4) a:before {
  background: #dd4b39;
}
/*Stop Footer Icons*/
//----------------------------------------------
/*Start Chart css*/
//---Chart
.row {
  display: flex;
  justify-content: center;
}

.coindesk {
  font-weight: 300;
}

.coindesk a {
  text-decoration: none;
  color: #f07c00;
}

.popup {
  min-height: 50px;
}
//---Line css
.linechart {
  padding: 8px;
}
.linechart_path {
  stroke-width: 3;
  fill: none;
  stroke: #f07c00;

}

.linechart_axis {
  stroke: #fff;
}

.linechart_point {
  fill: #fff;
  stroke-width: 2;
}

.linechart_area {
  padding: 8px;
  fill: transparent;
  stroke: none;
  opacity: .4;
}

.linechart_label {
 fill: #fff;
 font-weight: 700;
}

.hoverLine {
  stroke: #f07c00;
  stroke-width: 1;
}
//---Tools css
.hover {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: absolute;
  padding: 5px;
  border-radius: 4px;
  background-color: white;
  color: #f07c00;
}

.hover .price {
  font-weight: 700;
}
//---InfoArea
.data-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.box {
  width: 250px;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0;
}

.heading {
  font-size: 2.5em;
  color:#fff;
}

.subtext {
  color: #fff;
}

.box.left {
  margin-right: 25px;
}

.box.middle {
  padding: 0 25px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.box.right {
  margin-left: 25px;
}
/*Stop Chart css*/